root = true

[*.{kt,kts}]
ktlint_code_style = android_studio
ktlint_experimental = enabled
ktlint_function_naming_ignore_when_annotated_with = Composable

# disable rules for generated resources
[desktop/build/generated/**/*.{kt,kts}]
indent_size = 2
ktlint_standard = disabled
