.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/other.xml
/.idea/assetWizardSettings.xml
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/androidTestResultsUserPreferences.xml
.idea/shelf/
.DS_Store
build
/captures
*.jks
*.iml
/keystore.properties
.env
*.log
.kotlin/
