name: Android CI
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  BITRISEIO_ANDROID_KEYSTORE_ALIAS: ${{secrets.KEYSTORE_ALIAS}}
  BITRISEIO_ANDROID_KEYSTORE_PRIVATE_KEY_PASSWORD: ${{secrets.KEYSTORE_PRIVATE_KEY_PASSWORD}}
  BITRISEIO_ANDROID_KEYSTORE_URL: ${{secrets.KEYSTORE_FILE}}
  BITRISEIO_ANDROID_KEYSTORE_PASSWORD: ${{secrets.KEYSTORE_PASSWORD}}
  GEOAPIFY_API_KEY: ${{secrets.GEOAPIFY_API_KEY}}
  IPGEOCODING_API_KEY: ${{secrets.IPGEOCODING_API_KEY}}
  API_USERNAME: ${{secrets.VALIUTCHIK_API_USERNAME}}
  API_PASSWORD: ${{secrets.VALIUTCHIK_API_PASSWORD}}
  

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'liberica'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
        with:
          validate-wrappers: true
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Check
        run: ./gradlew -Dorg.gradle.configuration-cache.read-only=true check
        
  ui-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - name: set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'liberica'
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v5.0.0
        with:
          validate-wrappers: true
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-35
      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2.35.0
        with:
          api-level: 35
          target: google_apis
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-metrics
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
      - name: Run tests
        uses: reactivecircus/android-emulator-runner@v2.35.0
        with:
          script: ./gradlew -Dorg.gradle.configuration-cache.read-only=true connectedDebugAndroidTest :data:connectedAndroidDeviceTest :ui:connectedAndroidDeviceTest --no-watch-fs -Pandroid.testInstrumentationRunnerArguments.size=small
          arch: x86_64
          target: google_apis
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-metrics
          disable-animations: true
          api-level: 35
